*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
}

.container{
  background: #2a2a2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  text-shadow: 1px 2px white;
  font-size: 4rem;
  font-weight:700;
  color: purple;
  margin: 10px;
}

.subtitle{
  color:white;
  text-shadow: 2px 1px purple;
  font-size: 2.5rem;
  font-weight: 700;
  margin:10px;
}

hr{
  width:50%;
  height: 0.3rem;
  background-color: purple;
  -webkit-box-shadow: -2px 2px 15px 5px #000000; 
box-shadow: -2px 2px 15px 5px #000000;
}

/* .image-group{ */
  /* display: flex;
  flex-direction: column; */
  /* position: fixed; */
  /* background-color: red;
   margin-top:30px;
} */

.cover{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-wrapper{
  background-color: white;
  position: fixed;
  left:50px;
  margin-top: 35%;
  padding:10px;
  width:30%;
  height:70%;
  border-radius: 50px;
  border: 10px solid purple;
}

.avatar{
  width:100%;
  height:90%;
  font-size: 2rem;
  position:relative;
} 

img{
  height:100%;
}

.first{
  width:100%;
  position:absolute;
  z-index:0;
  border-radius: 50px;
}

.btn-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
}

.btn{
  width:200px;
  height:42px;
  font-size: 1.6rem;
  background-color: rgba(19, 3, 3, 0.699);
  color:white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'La Belle Aurore', cursive;
}

.btn:hover{
  background-color: purple;
  height:45px;
  width: 210px;
  font-size: 1.6rem;
  transition: 0.4s;
}

.list-image{
  margin-left:35%;
  margin-top:30px;
  margin-right:20px;
  padding:0;
}

h2{
  color: #a5510d;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.list{
  display:flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 10px;
  padding:20px;
  border: 5px solid #a5510d;
  border-radius: 15px;
}

.selected{
  background-color: #a5510d;
  border-radius: 50px;
}

.clickable{
  margin:15px;
  background-color: #a5510d56;
  border-radius: 15px;
  border: 1px solid #a5510d;
  cursor: pointer;
}

.clickable:hover{
  lighting-color: transparent;
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  transition: width .2s ease, height .2s ease;
  transform: translateY(-10px);
}

.body-part{
  width:80px;
}

@media (max-width: 1150px) {


  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .title{
    font-size: 2rem;
  }
  .subtitle{
    font-size: 1.5rem;
  }
  .image-group{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
  }
  .avatar-wrapper{
    width:280px; 
    position: sticky;
    margin-left: 0;
    height: 280px; 
      margin-top: 20px;
      padding:0px;
      left:0;
    /* transform: translateX(-50%); */
    
    
  }
  img{
    width: 100px;
    height: 90%;
  }
  .btn-parent{
    margin-top:0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn{
    width:80px;
    height:20px;
    font-size: 0.5rem;
  }
  .btn:hover{
    width: 90px;
    height:25px;
    font-size: 0.7rem;

  }
  .list{
    padding:0;
    margin:10px;
  }
  .list-image{
    margin-left:0px;
    padding:0;
    margin-top:10px;
    width: 100%;
  }
  h2{
    font-size: 1.5rem;
  }
  
  .clickable{
    margin:5px;
  }
  .body-part{
    width: 50px;
  }
}


